#rax {
    background-color: #FDD0DF;
}

#rbx {
    background-color: #FDD0DF;
}

#rcx {
    background-color: #FDD0DF;
}

#rdx {
    background-color: #FDD0DF;
}

#rsi {
    background-color: #FC85AE;
    color: white;
}

#rdi {
    background-color: #FC85AE;
    color: white;
}

#rbp {
    background-color: #FC85AE;
    color: white;
}

#rsp {
    background-color: #FC85AE;
    color: white;
}

#r8 {
    background-color: #9E579D;
    color: white;
}

#r9 {
    background-color: #9E579D;
    color: white;
}

#r10 {
    background-color: #9E579D;
    color: white;
}

#r11 {
    background-color: #9E579D;
    color: white;
}
#r12 {
    background-color: #574B90;
    color: white;
}
#r13 {
    background-color: #574B90;
    color: white;
}
#r14 {
    background-color: #574B90;
    color: white;
}
#r15 {
    background-color: #303552;
    color: white;
}
